# Exercise

## Import a dataset from seaborn called exercise

In [1]:
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [2]:
sns.load_dataset('exercise')

    Unnamed: 0  id     diet  pulse    time     kind
0            0   1  low fat     85   1 min     rest
1            1   1  low fat     85  15 min     rest
2            2   1  low fat     88  30 min     rest
3            3   2  low fat     90   1 min     rest
4            4   2  low fat     92  15 min     rest
..         ...  ..      ...    ...     ...      ...
85          85  29   no fat    135  15 min  running
86          86  29   no fat    130  30 min  running
87          87  30   no fat     99   1 min  running
88          88  30   no fat    111  15 min  running
89          89  30   no fat    150  30 min  running

[90 rows x 6 columns]

## Check your directory

In [21]:
import os 
os.getcwd()

'C:\\Users\\Hanna'

## Import your libraries: pandas and numpy

In [4]:
import pandas as pd
import numpy as np

## Load your iris dataset

In [5]:
iris = pd.read_csv('iris data.csv', header = None)

## Get first 5 rows

In [6]:
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

## Get the shape of the dataset

In [7]:
iris.shape

(150, 5)

## Rename your columns to sepal_length, sepal_width, petal_length, petal_width then display the first five rows

In [8]:
col_name = ['sepal_length','sepal_width','petal_length','petal_width','species']
iris.columns = col_name

## Get info of your dataste

In [9]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

## get description of your dataset

In [10]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## group data by species

In [15]:
iris.groupby('species').count()

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa                50           50            50           50
Iris-versicolor            50           50            50           50
Iris-virginica             50           50            50           50

In [16]:
iris.groupby('species').size()

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [17]:
iris['count'] =1
iris.groupby(['species', 'sepal_length']).count()['count']

species          sepal_length
Iris-setosa      4.3             1
                 4.4             3
                 4.5             1
                 4.6             4
                 4.7             2
                 4.8             5
                 4.9             4
                 5.0             8
                 5.1             8
                 5.2             3
                 5.3             1
                 5.4             5
                 5.5             2
                 5.7             2
                 5.8             1
Iris-versicolor  4.9             1
                 5.0             2
                 5.1             1
                 5.2             1
                 5.4             1
                 5.5             5
                 5.6             5
                 5.7             5
                 5.8             3
                 5.9             2
                 6.0             4
                 6.1             4
                 6.2             2
                 6.3             3
                 6.4             2
                 6.5             1
                 6.6             2
                 6.7             3
                 6.8             1
                 6.9             1
                 7.0             1
Iris-virginica   4.9             1
                 5.6             1
                 5.7             1
                 5.8             3
                 5.9             1
                 6.0             2
                 6.1             2
                 6.2             2
                 6.3             6
                 6.4             5
                 6.5             4
                 6.7             5
                 6.8             2
                 6.9             3
                 7.1             1
                 7.2             3
                 7.3             1
                 7.4             1
                 7.6             1
                 7.7             4
                 7.9             1
Name: count, dtype: int64

In [20]:
iris.loc[iris['species'].str.contains('setosa')]

    sepal_length  sepal_width  petal_length  petal_width      species  count
0            5.1          3.5           1.4          0.2  Iris-setosa      1
1            4.9          3.0           1.4          0.2  Iris-setosa      1
2            4.7          3.2           1.3          0.2  Iris-setosa      1
3            4.6          3.1           1.5          0.2  Iris-setosa      1
4            5.0          3.6           1.4          0.2  Iris-setosa      1
5            5.4          3.9           1.7          0.4  Iris-setosa      1
6            4.6          3.4           1.4          0.3  Iris-setosa      1
7            5.0          3.4           1.5          0.2  Iris-setosa      1
8            4.4          2.9           1.4          0.2  Iris-setosa      1
9            4.9          3.1           1.5          0.1  Iris-setosa      1
10           5.4          3.7           1.5          0.2  Iris-setosa      1
11           4.8          3.4           1.6          0.2  Iris-setosa      1
12           4.8          3.0           1.4          0.1  Iris-setosa      1
13           4.3          3.0           1.1          0.1  Iris-setosa      1
14           5.8          4.0           1.2          0.2  Iris-setosa      1
15           5.7          4.4           1.5          0.4  Iris-setosa      1
16           5.4          3.9           1.3          0.4  Iris-setosa      1
17           5.1          3.5           1.4          0.3  Iris-setosa      1
18           5.7          3.8           1.7          0.3  Iris-setosa      1
19           5.1          3.8           1.5          0.3  Iris-setosa      1
20           5.4          3.4           1.7          0.2  Iris-setosa      1
21           5.1          3.7           1.5          0.4  Iris-setosa      1
22           4.6          3.6           1.0          0.2  Iris-setosa      1
23           5.1          3.3           1.7          0.5  Iris-setosa      1
24           4.8          3.4           1.9          0.2  Iris-setosa      1
25           5.0          3.0           1.6          0.2  Iris-setosa      1
26           5.0          3.4           1.6          0.4  Iris-setosa      1
27           5.2          3.5           1.5          0.2  Iris-setosa      1
28           5.2          3.4           1.4          0.2  Iris-setosa      1
29           4.7          3.2           1.6          0.2  Iris-setosa      1
30           4.8          3.1           1.6          0.2  Iris-setosa      1
31           5.4          3.4           1.5          0.4  Iris-setosa      1
32           5.2          4.1           1.5          0.1  Iris-setosa      1
33           5.5          4.2           1.4          0.2  Iris-setosa      1
34           4.9          3.1           1.5          0.1  Iris-setosa      1
35           5.0          3.2           1.2          0.2  Iris-setosa      1
36           5.5          3.5           1.3          0.2  Iris-setosa      1
37           4.9          3.1           1.5          0.1  Iris-setosa      1
38           4.4          3.0           1.3          0.2  Iris-setosa      1
39           5.1          3.4           1.5          0.2  Iris-setosa      1
40           5.0          3.5           1.3          0.3  Iris-setosa      1
41           4.5          2.3           1.3          0.3  Iris-setosa      1
42           4.4          3.2           1.3          0.2  Iris-setosa      1
43           5.0          3.5           1.6          0.6  Iris-setosa      1
44           5.1          3.8           1.9          0.4  Iris-setosa      1
45           4.8          3.0           1.4          0.3  Iris-setosa      1
46           5.1          3.8           1.6          0.2  Iris-setosa      1
47           4.6          3.2           1.4          0.2  Iris-setosa      1
48           5.3          3.7           1.5          0.2  Iris-setosa      1
49           5.0          3.3           1.4          0.2  Iris-setosa      1

## Check for missing values

In [14]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

## You can play around with the data